.balance {
    margin: 1rem 2rem;
    .balance__item {
        background-color: $blue;
        border-radius: .5rem;
        max-width: 30rem;
        margin: 1rem auto;
        text-align: center;
        padding: 1rem;
        p {
            font-size: 2.3rem;
            color: $white;
            font-family: 'Fredoka One', cursive;
            span {
                margin-left: .3rem;
            }
        }
    }
}