.banner {
    background-color: $blue;
    border-radius: .5rem;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    p {
        font-size: 1.7rem;
        line-height: 1.5;
        color: $white;
        font-family: 'Fredoka One', cursive;
    }
    img {
        width: 8rem;
    }
}