.menu {
    position: absolute;
    top: .7rem;
    right: 1.5rem;
    background-color: $white;
    border-radius: .5rem;
    min-height: 15rem;
    padding: 1rem;
    flex-direction: column;
    @media (min-width:980px) {
        position: relative;
        display: flex;
    }
}
