.Title {
    font-family: 'Fredoka One', cursive;
    color: $blue;
    padding: .5rem 1rem;
    font-size: 3rem;
}
.Subtitle {
    color: $text-color;
    font-size: 1.7rem;
}
.Parrafo {
    color: $grey;
    line-height: 1.5;
    font-size: 1.5rem;
}