.Transactions {
    background-color: $white;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    p{
        color: $grey;
        .date {
            font-size: .7rem;
        }
    }
}