.GetStarted {
    header {
        position: relative;
        width: 100%;
        padding: 3rem 2rem;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        .img-content {
            width: 20rem;
            margin: auto;
            img {
                width: 100%;
            }
        }
        section {
            text-align: center;
            margin: 0 5rem 4rem 5rem;
        }
        @media (min-width:600px) {
            padding: 2rem;
        }
        @media (min-width:720px) {
            flex-direction: row;
            section {
                margin-top: 3rem;
                margin-right: 5rem;
            }
        }
    }
}