.Main {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    header {
        padding: .5rem 1rem;
        .btn-menu {
            position: absolute;
            top: 1rem;
            right: 2rem;
            background-color: $blue;
            border-radius: .5rem;
            @media (min-width:980px) {
                display: none;
            }
        }
        @media (min-width:980px) {
            position: fixed;
            flex-direction: column;
        }
    }
    .transactions {
        padding: 2rem 1.5rem;
        .List {
            margin: 2rem 2rem;
        }
    }
    @media (min-width:980px) {
        flex-direction: row;
        header {
            margin: 2rem 3rem;
        }
        .flex-container {
            width: 75%;
            margin: 2rem 2rem 2rem 28rem;
        }
    }
}