.NewTransaction {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    .content {
        background-color: $white;
        border-radius: .5rem;
        max-width: 90%;
        padding: 1rem 1rem;
        margin: auto;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);
        .heading {
            position: relative;
            display: flex;
            justify-content: space-between;
        }
        @media (min-width:980px) {
            max-width: 45%;
        }
    }
}