.Transaction {
    padding: 1rem;
    header {
        text-align: center;
        padding: 1rem;
    }
    .transaction__container {
        width: 90%;
        margin: auto;
        padding: 2rem 3rem;
        border-radius: .5rem;
        position: relative;
        background-color: $white;
        ul {
            list-style: none;
            text-align: center;
            margin-bottom: 1rem;
            .transaction__item {
                margin-bottom: .5rem;
                p {
                    font-size: 2rem;
                    span {
                        margin: 1rem;
                    }
                }
            }
        }
    }
    @media (min-width:980px) {
        max-width: 60%;
        margin: auto;
    }
}